.login-container {
  align-items: center;
  background-color: greenyellow;
  display: flex;
  flex-direction: column;
  height: 636px;
  justify-content: center;
}

.login-title {
  color: gray;
  font-size: 60px;
}

.login-form {
  align-items: center;
  background-color: white;
  border: 2px solid black;
  display: flex;
  flex-direction: column;
  height: 150px;
  justify-content: center;
  width: 300px;
}

.login-input {
  height: 20px;
  margin: 10px;
  width: 200px;
}

.login-button {
  align-self: center;
  height: 30px;
  margin: 10px;
  width: 60px;
}
